:root {
    --background: rgb(255, 255, 255);
    --header-background: rgb(255, 255, 255);
    --footer-background: rgb(255, 255, 255);
}

body {
    font-family: 'Rubik', san-serif;
    background-color: var(--background);
}

.hidden {
    display: none;
}

.rainbow {
    background: repeating-linear-gradient(
        -45deg,
        rgba(255, 0,   0,   0.3),
        rgba(255, 154, 0,   0.3),
        rgba(208, 222, 33,  0.3),
        rgba(79,  220, 74,  0.3),
        rgba(63,  218, 216, 0.3),
        rgba(47,  201, 226, 0.3),
        rgba(28,  127, 238, 0.3),
        rgba(95,  21,  242, 0.3),
        rgba(186, 12,  248, 0.3),
        rgba(251, 7,   217, 0.3),
        rgba(255, 0,   0,   0.3) 1000px
    );
}

.panel {
    border: 1px dashed black;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}

header {
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    background-repeat: repeat;
}

header img {
    height: 80%;
    margin: 0 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}
